/* BASE */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 1020px;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 940px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* HEADER */

header {
    min-height: 89px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.header-grid {
    display: grid;
    grid-template-columns: 2fr 5fr 5fr;
    padding-bottom: 30px;
    padding-top: 29px;
}

h1 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: #ffffff;
    text-transform: uppercase;
    grid-column: 1 / span 1;
}

h1::after {
    content: "*";
    display: inline-block;
    width: 8px;
    height: 9px;
    color: #f06c64;
}

.navigation {
    padding-top: 9px;
    grid-column: 3 / span 1;
}

.navigation__list {
    text-align: right;
}

.navigation__item {
    display: inline-block;
}

.navigation__item:nth-child(-n+4) {
    padding-right: 10px;
}

.navigation__item:nth-child(-n+4)::after {
    content: "";
    display: inline-block;
    margin-left: 13px;
    margin-bottom: 2px;
    width: 3px;
    height: 3px;
    background-color: #494e62;
    border-radius: 50%;
}

.navigation__link {
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
}

.active {
    color: #f06c64;
}

/* SLIDER */

.slider {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.slider-grid {
    display: grid;
    grid-template-columns: 0.5fr 4fr 7fr 0.5fr;
    grid-template-rows: 1fr;
    min-height: 594px;
}

.arrow {
    display: inline-block;
    width: 16px;
    height: 27px;
    align-self: center;
    margin-bottom: 5px;
    margin-left: 2px;
    background: url(./assets/img/arrow.png) no-repeat;
}

.arrow_right {
    transform: scale(-1);
    justify-self: right;
}

.phone-vertical {
    position: relative;
    padding-top: 53px;
    padding-left: 33px;
}

.phone-horizontal {
    position: relative;
    padding-top: 53px;
    padding-left: 154px;
}

.phone-vertical__shadow {
    position: absolute;
    z-index: 1;
}

.phone-vertical__base {
    position: absolute;
    z-index: 2;
}

.phone-vertical__screen {
    position: absolute;
    z-index: 3;
    padding: 65px 13px 60px 14px;
}


.phone-horizontal__shadow {
    position: absolute;
    z-index: 1;
    padding-right: 1px;
    padding-top: 1px;
    transform: rotate(90deg) scaleY(-1);
}

.phone-horizontal__base {
    position: absolute;
    z-index: 2;
    transform: rotate(90deg);
}

.phone-horizontal__screen {
    position: absolute;
    z-index: 3;
    margin: 136px -61px;
}

/* SERVICES */

.services {
    min-height: 496px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

h2 {
    padding-top: 59px;
    padding-bottom: 18px;
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
}

h3 {
    max-height: 20px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 900;
    line-height: 1;
    color: #666d89;
    overflow: hidden;
}

p {
    text-align: justify;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: #767e9e;
}

.services__content p {
    padding-top: 7px;
    padding-left: 20px;
    max-height: 58px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
    overflow: hidden;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px 18px;
    padding-top: 46px;
}

.icon::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    float: left;
}

.icon_pen {
    background: url(./assets/img/icon/pen.svg) no-repeat;
}

.icon_lightbulb {
    background: url(./assets/img/icon/lightbulb.svg) no-repeat;
}

.icon_heart {
    background: url(./assets/img/icon/heart.svg) no-repeat;
}

.icon_phone {
    background: url(./assets/img/icon/phone.svg) no-repeat;
}

.icon_message {
    background: url(./assets/img/icon/message.svg) no-repeat;
}

.icon_star {
    background: url(./assets/img/icon/star.svg) no-repeat;
}